# URI de conexión a MongoDB (puede ser local o cloud)
MONGO_URI=mongodb+srv://usuario:contraseña@cluster.mongodb.net/tu_basedatos?retryWrites=true&w=majority

# Puerto en el que correrá el servidor
PORT=5000
